<div class="card">
  <div class="box frame">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Lemur_catta_(portrait).jpg/576px-Lemur_catta_(portrait).jpg" loading='lazy' alt="lemur">
  </div>
  <h4>Madonna</h4>
  <p>24hr Volume: $1000</p>
</div>
