<div class="card">
  <div class="box frame">
    <img src="https://cincinnatizoo.org/system/assets/uploads/2011/02/ring-tailed-lemur.jpg" loading='lazy' alt="lemur">
  </div>
  <h4>lemur_ride.jpg</h4>
</div>
