<div class="card">
  <div class="box frame">
    <img src="https://www.critterbabies.com/wp-content/uploads/2014/01/baby-lemur.jpg" loading='lazy' alt="lemur-zoo">
  </div>
  <h4>Baby Lemur</h4>
  <p>Tickets Redeemed: 100</p>
</div>
