<div class="card">
  <div class="frame">
    <% if raffle.photo.key.present?  %>
      <img  style="width:10rem;border-radius:9px" src= <%= cl_image_path raffle.photo.key %>>
    <% else %>
      <%= image_tag "banner",  style:"width:10rem;border-radius:9px" %>
    <% end %>
  </div>
  <% if raffle.title.present? %>
    <h4><%= raffle.title %></h4>
  <% else  %>
    <h4>Unknown</h4>
  <% end %>
  <p>Donations: $5000</p>
  <p>Raffle Items: 50</p>
  <p>Tickets Redeemed: 300</p>
</div>
