<div class="card">
  <div class="box frame">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Zoo_Praha%2C_lemur_kata.jpg/1024px-Zoo_Praha%2C_lemur_kata.jpg" loading='lazy' alt="lemur-zoo">
  </div>
  <h4>Yearly Zoo Raffle</h4>
  <p>Donations: $5000</p>
  <p>Raffle Items: 50</p>
  <p>Tickets Redeemed: 300</p>
</div>
