<div class="card">
  <div class="box frame">
    <% if creator.photo.key.present?  %>
      <img src= <%= cl_image_path creator.photo.key %>>
    <% else %>
      <%= image_tag "banner" %>
    <% end %>
  </div>
  <h4><% if creator.name.present? %>
        <%= creator.name %>
        <% else  %>
        Anonymous
      <% end %></h4>
  <p>Total Volume: $1000</p>
</div>
