<div class="card">
  <div class="box frame">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Katta_(Lemur_catta)_jumping.jpg/640px-Katta_(Lemur_catta)_jumping.jpg" loading='lazy' alt="lemur">
  </div>
  <h4>Snoop Doggy Dog</h4>
  <p>Total Volume: $1000</p>
</div>
