<div class="box banner" id="creator_index">
<h2 class="center">Creators</h2>
  <div class="grid">
  <% @creators.each do |creator| %>
    <%= render "shared/creator_card", creator: creator %>
    <% end  %>
  </div>
</div>
