.box {
  padding: $s1;
  border: $s-5 solid;
  outline: $border-thin transparent;
  outline-offset: calc(#{$border-thin} * -1);
  color: $color-light;
  background-color: $color-dark;
  border-radius: $s-2;

  * {
    color: inherit;
  }

  .invert {
    color: $color-dark;
    background-color: $color-light;
  }
}
