.card {
  .box.frame img {
    border-radius: $s-2;
  }

  .box.frame {
    padding: 0;
    border: none;
  }

  h4 {
    margin-block-start: $s-3;
    margin-block-end: $s-3;
    font-weight: bold;
    font-size: large;
    max-inline-size: 20ch;
    word-wrap: break-word;
  }

  p {
    color: $color-light-b !important;
    font-size: medium;
    margin-block-start: $s-3;
    margin-block-end: $s-3;
  }
}

.card#home {
  max-width:15rem;
}
